/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* style of the body */
#home {
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* style for the header */

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: inherit;
}

.logo {
  margin-left: 10px;
}

li {
  display: inline;
  margin-right: 20px;
}

.menu > li:last-child {
  margin-right: 10px;
}

.menu a {
  text-decoration: underline;
  color: inherit;
}

.container {
  position: relative;
  top: 69px;
  z-index:1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the mission section */

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.mission-text {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Style for the tea month section */
.tea-month {
  width: 1000px;
}

.vignette {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  margin: 10px;
}

.image img {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Style for the locations section */

.locations {
  margin-top: 20px;
  height: 500px;
  width: 1200px;
  background-repeat: no-repeat;
  background-image: url("../images/img-locations-background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.locations > h2 {
  margin-bottom: 15px;
}

.implantation {
  display: flex;
}

.address {
  background-color: black;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 40px;
  opacity: 1;
}

.implantation > div:last-child {
  margin-right: 0;
}
